@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles */
@layer components {
  .leaf{
    border-radius: 1% 200%;
    background-image: linear-gradient(to right, rgb(182,244,146), rgb(51, 139, 147));
  }
}

.form-error {
  @apply text-red-500 font-bold mt-1 -mb-4 text-sm;
}

html {
  font-family: 'Poppins', sans-serif;
  ::-webkit-scrollbar{display :none};
}